/* Bootstrap adjusts */

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.2); border-color:rgba(0, 0, 0, 0.2); }

/* Bootstrap adjusts */
.main { font-family: 'Dosis', sans-serif; }

.project { position: fixed; width: 100%; z-index: 99999; background-color: black; height: 50px; display: table; }
.project .title { color: #FFF; font-size: 24px; height: 50px; vertical-align: middle; display: block; display: table-cell; margin-left: 10px; padding-left: 10px; }

.project .detailRight .hoursProject { float: left; color:#FFF; width:100px; font-size: 14px; line-height: 14px; margin-top: 10px; }
.project .detailRight .errorProject { width:36px; float: left; -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px; color:#FFF; padding-left: 6px; padding-right: 6px; margin-top: 11px; height: 28px; text-align: center; margin-right: 10px; }
.project .detailRight .errorProject .labelError { font-size: 11px; font-weight: 400; line-height: 13px; margin-top: 1px; }
.project .detailRight .errorProject .valueError { line-height: 14px; font-weight: 600; font-size: 13px; margin-top: -2px; }
.project .detailRight { width: 600px; height: 50px; display: table-cell; }
.project .detailRight .hoursProject .labelHours { font-weight: 600; }
.project .detailRight .progressProject { float: left; width: 200px; height:28px; vertical-align: middle; margin-top: 11px; margin-bottom: 0px; }
.project .detailRight .progressProject .bar { padding-top: 5px; }
.project .detailRight .changeProject { float: left; margin-top: 10px; margin-left: 10px; }
.project .detailRight .changeProject .btn-group .btn-label { width:150px; text-align: left; }
.project .detailRight .changeProject .dropdown-menu { height:500px; right: 0px; overflow-y: auto; overflow-x: hidden; }
.project .detailRight .changeProject .dropdown-menu a { width:250px; }

.variation-green { background-color: green; }
.variation-red { background-color: red; }
.variation-yellow { background-color: #FFBF00; }

.project .detailRight .settingsBtn { float: left; margin-top: 10px; margin-left: 6px; }

.head { position: fixed; width: 100%; z-index: 9999; margin-top: 50px; }
.head table { width: 100%; }
.head th { font-weight: 600; background-color: #333; color: #F2F2F2; height:40px; border-left: 1px solid #666; }

.colStories { min-width: 220px; width: 220px; padding-left: 10px; border: 0px !important; }
.column { min-width: 270px; }

.stories { margin-top: 92px; width: 100%; float: left; margin-bottom: 50px; }
.stories .labelStory { background-color: #555; color: #F2F2F2; font-size: 20px; line-height: 18px; font-weight: 600; border-bottom: 1px solid #CCC; width: 230px; height: 100%; vertical-align: middle; }
.stories .labelStory .labelStoryBox { font-weight: 600; border: 0px; width: 220px; min-width: 220px; padding-bottom: 36px; padding-top: 36px; margin-left: 10px; }
.stories .estimatedTime { font-size: 14px; font-weight: 300; color:#AAA; }

.stories .content { border-bottom: 1px solid #CCC; vertical-align: top; border-left: 1px solid #CCC; }
.stories .todo { background-color: #F2F2F2; }
.stories .doing { background-color: #D9D9D9; }
.stories .done { background-color: #F2F2F2; }

.contentHover { background-color: #E6EFF9 !important; -moz-box-shadow: inset 0 0 5px 5px #CEE0F4; -webkit-box-shadow: inset 0 0 5px 5px #CEE0F4; box-shadow: inset 0 0 5px 5px #CEE0F4;}

.post-it { font-family: 'Paprika', cursive; cursor:move; background-image: url(../img/post-it-shadow.png); width: 130px; height:108px; margin: 3px 0 0 0px; float: left; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.post-it .area { background-image: url(../img/post-it-mask.png); width: 120px; height: 100px; background-color: #fdffcc; margin-left: 5px; margin-top: 2px; color: #e6c47a; }
.post-it .name { font-size: 10px; vertical-align: middle; display: table-cell; height: 100px; width: 120px; text-align: center; line-height: 12px; margin-top: -10px; }
.post-it .assigned_to {  position:absolute; font-size: 9px; font-weight: bold; width:114px; text-align: right; margin-top: 5px; letter-spacing: -1px; }
.post-it .hours { display: table-cell; float: right; font-size: 9px; font-weight: bold; text-align: right; padding: 1px 6px 1px 6px; margin-top: -17px; margin-right: -2px; min-width: 14px; letter-spacing: -1px;  }
.post-it .spent { display: table-cell; float: left; font-size: 9px; font-weight: bold; text-align: right; padding: 1px 6px 1px 6px; margin-top: -17px; margin-right: -3px; min-width: 14px; letter-spacing: -1px;  }
.post-it .task { position: absolute;  font-size: 9px; font-weight: bold; text-align: center; padding: 1px 6px 1px 6px; min-width: 14px; letter-spacing: -1px; margin-top: 4px; }
.post-it-red { background-color: #ffd1d2 !important; color: #ff6f6f !important; }
.post-it-blue { background-color: #ccebff !important; color: #54bcf0 !important; }
.post-it-green { background-color: #ccffd8 !important; color: #6ed070 !important; }
.post-it-purple { background-color: #feccff !important; color: #cc66cc !important; }
.post-it-orange { background-color: #ffe9cc !important; color: #ff9f6e !important; }
.post-it-gray { background-color: #e5e5e5 !important; color: #9f9f9f !important; }
.postX { opacity: .5; }


.popup { position: fixed; text-align: center; float:left; background-color: #000; height: 100%; width:100%; z-index: 99999999; display: none; }
.popup iframe { width:80%; height:90%; border:0px; margin-top: 30px; }

.menu { position: fixed; z-index:999; bottom:0px; width: 100%; height: 60px; margin-bottom: 0px;  }
.menu .menuToggle { float: left; width:100%; height: 20px; }
.menu .menuToggleArea { margin-left: -30px; }
.menu .menuToggle .icon { -webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0; float: left; margin-left:50%; width: 60px; background-color: #C00; height: 10px; background-image: url(../img/menu-actions.gif); background-position: center;  background-repeat: no-repeat; }
.menu .menuToggle .area { background-color: #C00; float:left; width: 100%; height: 10px; }
.menu .menuItems { background-color: #C00; float: left; width:100%; height: 40px; }
.menu .menuItems .menuDetail { display: none; }
.menu .menuItems .newTaskDetail { float: left; }
.menu .menuItems .combo { display: inline; margin-left: 2px; float: left; margin-top: 2px; }
.menu .menuItems .combo .dropdown-menu { right: 0; left: auto; bottom:0px; top:auto; }
.menu .menuItems .combo .dropdown-menu li a { color: #000; font-size: 16px; }
.menu .menuItems .newStoryDetail { width:382px; overflow: auto; float: left; }
.menu .menuItems .newTask, .menu .menuItems .newStory { float: left; }
.menu .menuItems input { margin-top: 2px; float: left; margin-left: 8px; margin-right: 4px; }
.menu .menuItems button { margin-left: 4px; }
.menu .menuItems .btn-link { color: #600; margin-top: 4px; }
.menu .menuItems .item { color: #FFF; font-size: 20px; float: left; margin-right: 10px; }
.menu .menuItems .item a { color:#FFF; text-decoration: none; -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px; padding-top: 4px; padding-bottom:6px; padding-left: 12px; padding-right: 12px; margin-top: -3px; margin-left: 6px; margin-right: 5px; }
.menu .menuItems .item a:hover {  background-color: #600; }
.menu .menuItems .item i { margin-top: 7px; margin-right: 4px; }
.taskHours { text-align: right; width: 40px; }
.labelHoursNewTask { float: left; font-size: 16px; margin-top: 6px; margin-right: 10px; }
.menuButton { float: left; }

.modal .btn-group > .btn:first-child { width: 260px; text-align: left; }
.modal .title { font-size: 20px; font-weight: 600; }
#settingsModal { z-index: 10000; }

.help-inline { font-size: 12px; }
.formLeft { float:left; margin-right: 10px; }

.popover { display: none; }
.popover { width: 440px; z-index: 998; }
.popover .control-label { width: 100px; }
.popover .controls { margin-left: 110px; }
.popover .addTime { float:right; margin-right:30px; }
.popover .footerLeft { float: left; }
.popover .footerRight { float: right; }
.popover .updateOther { font-size: 14px; margin-top: 8px; float: left; }
.popover .hours { text-align: right; }
.popover .spentTimes { font-size: 12px; }
.popover .spentTimes td, .popover .spentTimes th { padding: 4px 8px 2px 8px; }
.popover .spentTimes th { background-color: #EEE !important; text-align: left; }
.popover .spentTimes .activity { width:170px; }
.popover .spentTimes .hours { width:34px; }
.popover .spentHours { padding: 1px 4px 1px 2px !important; margin-top: -1px; width: 40px; }
.popover .btnAddSpent { width: 50px; }
.popover .errorSpentActivity { display: none; color: red; float: left; font-size: 13px; width: 100%; }
.popover .noActivityInserted { text-align: center; }
.popover-title { font-size: 16px; }

.loading { background-color: #C00; padding: 2px; width:80px; color:#FFF; position: fixed; z-index: 9999999999; left:50%; text-align: center; margin-left: -40px; display: none; }

.limitBottom { float: left; height: 50px; }

.alert { widtH:400px; position: absolute; z-index: 9999999; margin-left: 470px; display: none; }