<!DOCTYPE html>
<html ng-app class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Kanb.am</title>
        <meta name="description" content="Kanbam for project management tools">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Paprika' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/datepicker.css">
        <link rel="stylesheet" href="css/style.css">

        <script src="js/lib/modernizr-2.6.2.min.js"></script>
    </head>
    <body ng-controller="App">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Error</h4>
            <span class="alert-message">This project don't have any members.</span>
        </div>
        <div class="main">
            <div class="project">
                <div class="project-title">
                    <div class="project-action"><button class="btn button" type="button"><i class="icon-pause icon-white-alpha"></i></button></div>
                    {{currentProject.name}}
                </div>
                <div class="project-right">
                    <div class="project-title-mask"><img src="img/mask-titulo.png" /></div>
                    <div class="project-right-content">
                        <div class="project-indicator input">
                            <span class="project-indicator-label">ESTIMATED</span> <br />
                            <span class="project-indicator-value">{{currentProject.totalEstimated}}h</span>
                        </div>
                        <div class="project-indicator input">
                            <span class="project-indicator-label">EXECUTED</span> <br />
                            <span class="project-indicator-value">{{currentProject.totalSpent}}h</span>
                        </div>
                        <div class="project-indicator input {{getColorByVariation(currentProject.variation)}}">
                            <span class="project-indicator-label">VARIATION</span> <br />
                            <span class="project-indicator-value">{{formatVariation(currentProject.variation)}}%</span>
                        </div>
                        <div class="project-progress input">
                            <div class="progress">
                                <div class="project-bar project-bar-todo" style="width: {{currentProject.totalTodo}}%;">{{currentProject.totalTodo}}%</div>
                                <div class="project-bar project-bar-doing" style="width: {{currentProject.totalDoing}}%;">{{currentProject.totalDoing}}%</div>
                                <div class="project-bar project-bar-done" style="width: {{currentProject.totalDone}}%;">{{currentProject.totalDone}}%</div>
                            </div>
                        </div>
                        <div class="project-dropdown">
                            <div class="btn-group">
                                <button class="btn button dropdown-toggle btn-inverse" data-toggle="dropdown">
                                     <i class="icon-th-list icon-white-alpha"></i> PROJECTS

                                </button>
                                <ul class="project-list dropdown-menu">
                                    <li ng-repeat="project in projects" ng-switch on="project.parent">
                                        <a href="#" id="{{project.id}}" ng-switch-when="" style="padding-left:12px;font-weight:600;">{{project.name}}</a>
                                        <a href="#" id="{{project.id}}" ng-switch-default style="padding-left:22px;">{{project.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="search-btn">
                            <form class="form-horizontal">
                                <input type="text" placeholder="Type your keyword" class="input search-value" />
                                <button class="btn button" type="button"><i class="icon-search icon-white-alpha"></i></button>
                            </form>
                        </div>
                        <div class="settings-btn">
                            <button class="btn button" type="button"><i class="icon-cog icon-white-alpha"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head">
                <table class="head-table">
                    <tr>
                        <th class="head-stories"><div class="head-story-title">STORIES</div></th>
                        <th class="head-tasks"><div class="head-task-title">TO DO</div></th>
                        <th class="head-tasks head-separator"><div class="head-task-title">DOING</div></th>
                        <th class="head-tasks head-separator"><div class="head-task-title">DONE</div></th>
                    </tr>
                </table>
            </div>
            <div class="stories">
                <table class="stories-table" ng-switch on="totalTasks">
                    <colgroup>
                        <col class="stories-column"/>
                        <col class="tasks-column"/>
                        <col class="tasks-column tasks-column-shadow"/>
                        <col class="tasks-column"/>
                    </colgroup>
                    <tbody ng-switch-when="0">
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <div class="stories-no-tasks">No task inserted</div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="stories-page-footer-middle" colspan="3">
                                <img class="stories-page-footer-left" src="img/paginas-empilhadas-esq.png" />
                                <img class="stories-page-footer-right" src="img/paginas-empilhadas-dir.png" />
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-switch-default>
                        <tr id="{{story.id}}" ng-repeat="story in stories">
                            <td class="stories-td {{isFirstStory($index)}}">
                                <div class="stories-box">
                                    <div class="stories-content">
                                        <div class="stories-label">{{story.name}}<br />
                                            <span class="stories-info">
                                                <i class="icon-time icon-alpha"></i> {{formatHour(story.total_estimated, true)}}
                                                <i class='{{story.date != "" && "icon-calendar icon-alpha stories-icon-calendar" || "" }}'></i> {{formatDate(story.date)}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td id="TODO" class="todo tasks-td {{isFirstStory($index)}}">
                                <div id="post{{post.id}}" class="post-it post{{post.id}}" ng-repeat="post in story.todo">
                                    <div class="post-it-area post-it-{{formatColorPost(post.type)}}">
                                        <div class="post-it-task {{post.impediment != false && 'post-it-impediment' || '' }}">#{{post.id}}</div>
                                        <div class="post-it-assigned-to">{{formatUserName(post.assigned_to_name)}}</div>
                                        <div class="post-it-name">{{post.name}}</a></div>
                                        <div class="post-it-hours"><i class="icon-time icon-alpha post-it-icon-estimated"></i> {{formatHour(post.estimated)}}</div>
                                        <div class="post-it-spent">{{formatHour(post.spent_time)}} <i class='{{post.spent_time != 0 && "icon-ok icon-alpha post-it-icon-spent" || "" }}'></i></div>
                                    </div>
                                </div>
                            </td>
                            <td id="DOING" class="doing tasks-td {{isFirstStory($index)}}">
                                <div id="post{{post.id}}" class="post-it post{{post.id}}" ng-repeat="post in story.doing">
                                    <div class="post-it-area post-it-{{formatColorPost(post.type)}}">
                                        <div class="post-it-task {{post.impediment != false && 'post-it-impediment' || '' }}">#{{post.id}}</div>
                                        <div class="post-it-assigned-to">{{formatUserName(post.assigned_to_name)}}</div>
                                        <div class="post-it-name">{{post.name}}</div>
                                        <div class="post-it-hours"><i class="icon-time icon-alpha post-it-icon-estimated"></i> {{formatHour(post.estimated)}}</div>
                                        <div class="post-it-spent">{{formatHour(post.spent_time)}} <i class='{{post.spent_time != 0 && "icon-ok icon-alpha post-it-icon-spent" || "" }}'></i></div>
                                    </div>
                                </div>
                            </td>
                            <td id="DONE" class="done tasks-td {{isFirstStory($index)}}">
                                <div id="post{{post.id}}" class="post-it post{{post.id}}" ng-repeat="post in story.done">
                                    <div class="post-it-area post-it-{{formatColorPost(post.type)}}">
                                        <div class="post-it-task {{post.impediment != false && 'post-it-impediment' || '' }}">#{{post.id}}</div>
                                        <div class="post-it-assigned-to">{{formatUserName(post.assigned_to_name)}}</div>
                                        <div class="post-it-name">{{post.name}}</div>
                                        <div class="post-it-hours"><i class="icon-time icon-alpha post-it-icon-estimated"></i> {{formatHour(post.estimated)}}</div>
                                        <div class="post-it-spent">{{formatHour(post.spent_time)}} <i class='{{post.spent_time != 0 && "icon-ok icon-alpha post-it-icon-spent" || "" }}'></i></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="stories-page-footer-middle" colspan="3">
                                <img class="stories-page-footer-left" src="img/paginas-empilhadas-esq.png" />
                                <img class="stories-page-footer-right" src="img/paginas-empilhadas-dir.png" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="task-advanced-edit">
                <iframe src="" width="80%" height="600"></iframe>
            </div>
            <div class="footer">
                <div class="footer-arrow">
                    <img src="img/aba.png" />
                </div>
                <div class="footer-items">
                    <div class="footer-item new-task">
                        <div class="footer-btn">
                            <button class="btn button new-task-btn"><i class="icon-check icon-white-alpha"></i> NEW TASK</button>
                        </div>
                        <div class="footer-detail task-detail">
                            <form id="new-task-form" action="">
                                <div class="task-inputs">
                                    <input class="input task-name" type="text" placeholder="Task name" name="taskName" />
                                    <i class="icon-time icon-white-alpha task-icon"></i>
                                    <input class="input task-hours" type="text" placeholder="0" />
                                </div>
                                <div class="task-hours-label">Hs</div>
                                <div class="btn-group dropup task-activity">
                                    <button class="btn button btn-label btn-inverse task-activity-label" data-toggle="dropdown">CHOOSE AN ACTIVITY</button>
                                    <button class="btn button dropdown-toggle btn-inverse" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-up">
                                        <li ng-repeat="activity in activities"><a href="#" id="{{activity.id}}">{{activity.name}}</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group dropup task-story">
                                    <button class="btn button btn-inverse task-story-label" data-toggle="dropdown">CHOOSE A STORY</button>
                                    <button class="btn button dropdown-toggle btn-inverse" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="story in stories"><a href="#" id="{{story.id}}">{{story.name}}</a></li>
                                    </ul>
                                </div>
                                <div class="task-buttons">
                                    <button class="btn button task-save" type="submit">SAVE</button>
                                    <button class="btn button task-cancel" type="button">CANCEL</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="footer-separator">
                        <img src="img/separador-barra-baixo.png" />
                    </div>
                    <div class="footer-item new-story">
                        <div class="footer-btn">
                            <button class="btn button new-story-btn"><i class="icon-file icon-white-alpha"></i> NEW STORY</button>
                        </div>
                        <div class="footer-detail story-detail">
                            <form id="new-story-form" action="">
                                <div class="task-inputs">
                                    <input class="input story-name" type="text" placeholder="Story name" />
                                    <i class="icon-calendar icon-white-alpha task-icon"></i>
                                    <input class="input story-date" type="text" />
                                </div>
                                <div class="task-buttons">
                                    <button class="btn button story-save" type="submit">SAVE</button>
                                    <button class="btn button story-cancel" type="button">CANCEL</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="footer-separator">
                        <img src="img/separador-barra-baixo.png" />
                    </div>
                </div>
            </div>

            <div class="settings modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <span class="settings-title">Kanb.am Settings</span>
                </div>
                <div class="modal-body modal-body-default">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">Choose a Tool:</label>
                            <div class="controls">
                                <div class="btn-group tool-options">
                                    <button class="btn btn-label">Redmine</button>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Redmine</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="redmine-uri">Redmine URI:</label>
                            <div class="controls">
                                <input type="text" class="redmine-uri input-xlarge" id="redmine-uri" placeholder="http://" value="http://localhost/"><br />
                                <span class="help-inline">Ex: http://myredmine.mydomain.com/</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="api-key">Redmine API Key:</label>
                            <div class="controls">
                                <input type="text" class="api-key input-xlarge" id="api-key" placeholder="Paste your API Key here" value=""><br />
                                <span class="help-inline">Ex: 62de4539a7d9a370afad56cdf20177235ef34374</span>
                            </div>
                        </div>
                        <div class="control-group settings-view-mode">
                            <label class="control-label">View mode:</label>
                            <div class="controls">
                                <div class="btn-group">
                                    <button class="btn btn-label view-mode-label">User mode</button>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a id="user" href="#">User mode</a></li>
                                        <li><a id="presentation" href="#">Presentation mode</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="controls settings-list-projects">
                                <div ng-repeat="project in projects" ng-switch on="project.parent">
                                    <label class="settings-parent" ng-switch-when="">
                                        <input id="project{{project.id}}" type="checkbox" value="{{project.id}}" /> {{project.name}}
                                    </label>
                                    <label ng-switch-default>
                                        <input id="project{{project.id}}" type="checkbox" value="{{project.id}}" /> {{project.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="close-settings btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="save-settings btn btn-primary">Save changes</button>
                </div>
            </div>

            <div class="detail popover fade in"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title">Task Edit - #{{editTask.id}}</h3><div class="popover-content"><p>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="detail-task-name">Task Name:</label>
                        <div class="controls">
                            <input type="text" class="detail-task-name input-xlarge" id="detail-task-name" placeholder="Type your task name" value="{{editTask.name}}" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Assigned To:</label>
                        <div class="controls">
                            <div class="detail-assigned-to btn-group">
                                <button class="btn btn-label"></button>
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="detail-assigned-to-list dropdown-menu">
                                    <li ng-repeat="member in currentProject.memberships"><a href="#" id="{{member.id}}">{{member.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="detail-estimated">Estimated:</label>
                        <div class="controls">
                            <input type="text" class="detail-estimated input-mini hours" id="detail-estimated" placeholder="0" value="{{editTask.estimated}}" />
                            <span class="help-inline">hs</span>
                        </div>
                    </div>
                    <div class="control-group" ng-switch on="editTask.impediment">
                        <label class="control-label" for="detail-estimated">Impediment:</label>
                        <div class="controls" ng-switch-when="true">
                            <input type="checkbox" class="detail-impediment" value="true" checked  />
                            <span class="help-inline detail-impediment-help">(Check if this task is in impediment)</span>
                        </div>
                        <div class="controls" ng-switch-default>
                            <input type="checkbox" class="detail-impediment" value="true" />
                            <span class="help-inline detail-impediment-help">(Check if this task is in impediment)</span>
                        </div>
                    </div>

                    <hr />

                    <div class="control-group">
                        <label class="control-label">Spent times:</label>
                        <div class="controls">
                            <table class="detail-spent-times table table-bordered table-striped" ng-switch on="editTask.spent_time">
                                <tr>
                                    <th class="detail-th-activity">Activity</th>
                                    <th class="detail-th-hours">Time</th>
                                    <th class="detail-th-action"></th>
                                </tr>
                                <tr id="{{spent_time.id}}" ng-repeat="spent_time in editTask.spent_time_list" >
                                    <td>{{spent_time.activity_name}}</td>
                                    <td>{{formatHour(spent_time.hours)}}</td>
                                    <td><button id="{{spent_time.id}}" class="detail-spent-remove btn btn-mini btn-danger" type="button">Delete</button></td>
                                </tr>
                                <tr ng-switch-when="0">
                                    <td class="detail-no-activity" colspan="3">No activity inserted</td>
                                </tr>
                            </table>

                            <div class="detail-form-left">
                                <div class="detail-spent-activities btn-group">
                                    <button class="btn btn-mini btn-label">Select an activity</button>
                                    <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="detail-spent-activities-list dropdown-menu">
                                        <li ng-repeat="spentTimeActivity in spentTimeActivities"><a href="#" id="{{spentTimeActivity.id}}">{{spentTimeActivity.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="detail-form-left">
                                <input type="text" class="detail-spent-hours input-mini hours btn-mini" placeholder="0" value="{{updateTask.estimated_hours}}" />
                                <span class="help-inline">hs</span>
                            </div>
                            <div class="detail-form-left">
                                <button class="detail-spent-add btn btn-mini btn-primary">Add</button>
                            </div>

                            <div class="detail-spent-error">Fill the fields correctly.</div>
                        </div>

                    </div>

                    <hr />

                    <div class="control-group">
                        <div class="left">
                            <a href="#" class="detail-advanced-edit">Advanced edit</a>
                        </div>
                        <div class="right">
                            <button class="detail-remove btn"><i class="icon-trash"></i></button>
                            <button class="detail-close btn">Close</button>
                            <button class="detail-update btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </form>
            </p></div></div></div>
        </div>
        <div class="loading">
            <div class="loading-icon"><img src="img/loading.gif" /></div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
        <!-- <script data-main="js/main" src="js/lib/require.js"></script> -->
        <script  src="dist/scripts/main.js"></script>
        <!--<script type="text/javascript">
            function App($scope) {
            	require(['main'], function(main){
                	main.onReadyToStart($scope);
                });
            }
        </script> -->
    </body>
</html>
